.body{
    font-family: "Poppins",sans-serif;
    background-color: black;
   
}
.bg-img {
    position: relative;
    height: 800px;
    justify-content: center;
    color: white;
    background-image:  url("https://assets.nflxext.com/ffe/siteui/vlv3/9c5457b8-9ab0-4a04-9fc1-e608d5670f1a/710d74e0-7158-408e-8d9b-23c219dee5df/IN-en-20210719-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.bg-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: black;
    background-size: cover;
    background-position: center;
    opacity: 0.5;          
    z-index: 0.5;
}
.card-main{
background-color: black;
opacity: 0.78;
position:absolute;
content: "";
width: 470px;
height:660px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: "Poppins",sans-serif;
}
.img-cls{
     width: 150px;
    height: 50px;
    padding-left: 150px;
    padding-right:50px;
    z-index: 9999;
     position:relative;
   
}
.img-div{
     display: flex;
     padding-top: 20px;
}
.sign-in-cls{
    color: white;
    position: relative;
    padding-left: 50px;
    font-weight: bold;
    font-family: "Poppins",sans-serif ;
    padding-bottom: 10px;
    z-index: 2;
    opacity: 60;
    padding-top: 20px;

}
.input-cls{
    color:white;
    border-color:white ;
    background-color: rgba(19, 18, 18, 0.692);
    height: 50px;
    width: 350px;
    position: relative;
    z-index: 10;
    font-size:medium;
    border-radius: 4px;
    margin-bottom: 20px;
}
.input-div{
    padding-left: 50px;
}
.sign-in-btn{
     height: 40px;
    width: 360px;
    position: relative;
    z-index: 10;
    font-size:medium;
    border-radius: 4px;
    margin-bottom: 20px;
    color: white;
    background-color: red;
    border-color: red;
    padding: 0;
    margin: 0;
}
.sign-in-btn:hover{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.658);
}
.or-cls{
    justify-content: center;
    text-align: center;
    color: lightgray;
    padding-bottom: 15px;
    font-size: 18px;
    padding-right: 60px;
    margin-bottom: 0;
}
.sign-in-code-cls{
     height: 40px;
    width: 360px;
    position: relative;
    z-index: 10;
    font-size:medium;
    border-radius: 4px;
    margin-bottom: 20px;
    color: white;
    background-color: gray;
    border-color: gray;
    padding: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.sign-in-code-cls:hover{
    cursor: pointer;
    background-color: rgb(92, 91, 91);
}
.forgot-cls{
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    margin-top: 0;
    font-size: 17px;
    text-decoration: underline;
    color:white;
    padding-right: 70px;
}
.checkbox-cls{
    padding-left: 50px;
    padding-right: 0;
    padding: 0;
    margin: 0;
    width: 18px;
    height: 18px;
    background-color: white;
}
.remb-cls{
    margin: 0;
    padding: 0;
    padding-left: 12px;
}
.netflix-sign-cls{
    color: rgb(189, 186, 186);
    padding-top: 10px;
}
.a-netflix-cls{
    color: white;
   
}
.a-netflix-cls:hover{
    cursor: pointer;
     text-decoration: underline;
     color: white;
}
.bot-cls{
    font-size: small;
    color: gray;
}
.learn-cls{
    color: rgb(26, 79, 224);
    text-decoration: underline;
    font-size: medium;
}
.learn-cls:hover{
    cursor:pointer;

}
.p-class{
   
    color: lightgray;
    font-size: 19px;
    padding-top:0 ;
    margin-top: 0;
    background-color: rgb(24, 23, 23);

}
.two{
    justify-content: left;
    text-align: left;
    padding-left: 150px;
    font-size: 19px;
    margin-bottom: 0;
     padding-top: 60px;
}
.cursor-class:hover{
    cursor: pointer;
}
.last-credits{
    background-color: rgb(24, 23, 23);
    color: lightgray;
    padding-left: 150px;
    margin-top: 0;
   padding-top: 25px;
}
table{
     width: 100%;      
  border-collapse: collapse;
}
td{
   padding-top: 8px;
   padding-bottom: 8px;
   text-decoration: underline rgb(204, 200, 200);

}
td:hover{
    cursor: pointer;
}
.lang-div-2{
    margin-top:0;
    background-color: rgb(24, 23, 23);
    padding-left: 150px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.last-netflix{
    color: rgb(170, 169, 169);
    background-color: rgb(24, 23, 23);
    padding-top: 30px;
}
.last-one{
     color: rgb(170, 169, 169);
    background-color: rgb(24, 23, 23);
    padding-top: 30px;
    padding-bottom: 150px;
}
.a-last-cls{
    color: rgb(5, 84, 255);
    text-decoration: underline;
}
.a-last-cls:hover{
    cursor: pointer;
}
.language-cls{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightgray;
    border-color: lightgray;
    background-color:  rgb(24, 23, 23);
    width: 120px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
}